# Environment variables
.env

# Virtual environment
myenv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Static and media
staticfiles/
media/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db